## tensorflow & tensorflow_fold:
# compile (check out Dockerfiles in folder docker for cpu+mkl versions)
# and install manually

spacy>=2.0.0
pprint
six
plac
scipy

# visualization
svgutils
pydot

# from python:
# csv json itertools functools errno math copy logging fnmatch os ntpath re random sys time math multiprocessing datetime
