## tensorflow & tensorflow_fold:
# compile (check out Dockerfiles in folder docker for cpu+mkl versions)
# and install manually

spacy>=2.0.0
pprint
scipy
#six
# installed via distinct command in dockerfile (already installed in gpu version)
#tensorflow==1.3

# visualization
svgutils
pydot
flask
flask_cors
ast
scipy
sklearn

# misc
#tqdm
#plac

# from python:
# csv json itertools functools errno math copy logging fnmatch os ntpath re random sys time math multiprocessing datetime

