## tensorflow & tensorflow_fold:
# compile (check out Dockerfiles in folder docker for cpu+mkl versions)
# and install manually

spacy>=2.0.0
pprint
six

# embedding_api
#sklearn
#scipy
#ast
#flask
#flask_cors

# visualization
svgutils
pydot

# misc
#tqdm

# virtuoso (dbpedia-nif)
-e git+https://github.com/maparent/pyodbc.git@v4-virtuoso#egg=pyodbc
-e git+https://github.com/conversence/sqlalchemy-rdfbridge.git#egg=sqlalchemy-rdfbridge
#-e git+https://github.com/maparent/virtuoso-python.git#egg=virtuoso
-e git+https://github.com/ArneBinder/virtuoso-python.git@virtuoso7.2-python2#egg=virtuoso
rdflib
plac

# from python:
# csv json itertools functools errno math copy logging fnmatch os ntpath re random sys time math multiprocessing datetime
